@import "tailwindcss";

/* Allgemeines Layout */
button.add-to-cart {
    padding: 10px 20px;
    background-color: #f0c14b;
    border: 1px solid #a88734;
    color: #111;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 3px;
}

button.add-to-cart:hover {
    background-color: #ddb347;
}

/* Warenkorb */
#cart h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#cart-items {
    list-style-type: none;
    padding: 0;
}

#cart-items li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#cart-items button.remove {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

#total {
    font-weight: bold;
    font-size: 1.2rem;
}

